<h1>Bienvenido a saludador </h1>
<form method = 'post' action='/dimensionar'>
    Dimension en X: <input type = 'text' name = 'dimx'>
    Dimension en Y: <input type = 'text' name = 'dimy'>
    <input type = 'submit' value = 'Aceptar'>

</form>
