<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyecto Primera Iteracion</title>

</head>
<body>
    <div id="container">
        <div id="content">
            <h1>Crear Terreno </h1>
            <form method = 'post' action='/dimensionar'>
                Dimension en X: <input id="q" type = 'text' name = 'dimx'>
                Dimension en Y: <input id="q"type = 'text' name = 'dimy'>
                <input type = 'submit' value = 'Aceptar'>
            </form>
                
            <form method = 'get' action='/'>
                <input type = 'submit' value = 'Anterior'>
            </form>
        </div>
    </div>
</body>
</html>

<style>
    @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), 
         local('Roboto-Regular'), 
         url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) 
         format('woff');
  }
   html, body{
        font: 10px;
        font-family: Roboto;  
        text-align: center;
        background: #3d3d3d;
       text-align: center;
    }
   #container {
    position: absolute;
    margin: -210px 0 0 -360px;
    left: 55%;
    top: 40%;

   }
   #container a:link:hover{
       background-color: white;
       transition:0.6s;
   }
   #container input{
       margin: auto;
       margin-top: 20px ;
       width: 50%;
       display: block;
       padding: 5px;
   }

   #container a:link, {
       margin: auto;
       margin-top: 60px ;
       width: 50%;
       font-size: 20px;
       display: block;
       padding: 5px;
       text-decoration: none;
       border:2px solid black;
       background-color : grey;
   }
   #content {
        border: 2px solid white;
        background: #808080;
        width: 520px;
        height: 420px;
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 10px 20px 10px 10px;
    }
        input[type=button], input[type=submit], input[type=reset] {
        background-color: #f4f4f4;
        border: 3px solid black;
        color: black;
        padding: 16px 32px;
        font-size: 16px;
        min-width: 21%;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;

    }
    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
      background-color: #333;
      color:white;
    }
</style>