<h1>Crear Ruta </h1>
<form method = 'post' action='/route'>
    Dimension en X: <input type = 'text' name = 'dimx'>
    Dimension en Y: <input type = 'text' name = 'dimy'>
    <input type = 'submit' value = 'Aceptar'>
</form>

<form method = 'get' action='/'>
    <input type = 'submit' value = 'Anterior'>
</form>