<h1>Mostrando la Tabla </h1>

<h1><%= @dimx %></h1>
<h1><%= @dimy %></h1>

<table border = '1' class="table">
    <% for row in 0..@dimx-1 do  %>
        <tr>
            <%for col in 0..@dimy-1 do %>
                <td> <%="celda" %> </td> 
            <% end %>
        </tr>
    <% end %>
</table>



<form method = 'get' action='/crear/terreno'>
    <input type = 'submit' value = 'Anterior'>
</form>