<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyecto Primera Iteracion</title>

</head>
<body>
    <div id="container">
        <div id="content">
            <h1>MOSTRANDO TERRENO</h1>
          
            <%# Validacion de las Dimensiones del Terreno %>
           
            <% if @@terrain.validate_terrain() == false %>
           
                <%# Mensajes de error para dimensiones incorrectas %>
           
                <h4> Ooops! Hubo un error con las dimensiones del Terreno</h4>
                <form method = 'get' action='/createTerrain'>
                    <input type = 'submit' value = '¡Entendido!'>
                </form>
           
            <% else %>
           
                <%# Creacion del Terreno despues de la Validacion %>          
           
                <p>Terreno Creado :: <%= @@terrain.get_DimX() %> x <%= @@terrain.get_DimY() %></p>            
                <table border="1">
                    <% for row in 0..@@terrain.get_DimY()-1 do  %>
                        <tr>
                            <%for col in 0..@@terrain.get_DimX()-1 do %>
                                <td> <%="___"%> </td>
                            <% end %>
                        </tr>
                    <% end %>
                </table>                  
                <% if @@terrain.get_count() < 4 %>
                    Existen <%= @@terrain.get_count() %> carros
                    <form method = 'get' action='/setCarPosition'>
                        <input type = 'submit' value = 'Agregar Carrito'>
                        <%# input type = 'submit' value = 'Siguiente' ##%> 
                        
                    </form>
                <% else %> 
                    <p> Ya existen 4 carritos </p>
                <% end %>
                <form method = 'get' action='/createTerrain'>
                    <input type = 'submit' value = 'Ir atras'>
                </form>
            <% end %>
        </div>
    </div>
</body>
</html>

<style>
     @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), 
         local('Roboto-Regular'), 
         url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) 
         format('woff');
  }
   html, body{
        font: 10px;
        font-family: Roboto;  
        text-align: center;
        background: #3d3d3d;
        text-align: center;
    }
   #container {
        position: absolute;
        margin: -210px 0 0 -360px;
        left: 55%;
        top: 40%;
   }
   #container table{
       margin: auto;
       font-size: 20px;
       padding: 5px;
       border:2px solid black;
       background-color:#f4f4f4;
   }
   #content {
        border: 2px solid white;
        background: #808080;
        width: 520px;
        height: auto;
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 10px 20px 10px 10px;
    }

    #container input{
        margin: auto;
        margin-top: 15px ;
        width: 40%;
        display: block;
        padding: 5px;
   }
    input[type=button], input[type=submit], input[type=reset] {
        background-color: #f4f4f4;
        border: 2px solid black;
        color: black;
        padding: 16px 32px;
        font-size: 16px;
        min-width: 21%;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }
    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
      background-color: #333;
      color:white;
    }
</style>