<h1> Dar posicion al Robot </h1>
<form method = 'post' action='/car/position/set'>
    Dimension en X: <input type = 'text' name = 'posx'>
    Dimension en Y: <input type = 'text' name = 'posy'>
    <input type = 'submit' value = 'Aceptar'>
</form>

<form method = 'get' action='/crear/terreno'>
    <input type = 'submit' value = 'Anterior'>
</form>